body{
    background-image:url(hintergrund.png);
}

.eins{
    width: 25%;
    height: auto;
    position: fixed;
    left: 450px;
    top: 50px;
}
.zwei{
    width: 25%;
    height: auto;
    position: fixed;
    top: 50px; 
    left: 1050px;

}
button{
    padding: 10px 30px;
    color: white;
    background-color:  #0082e6;
    box-shadow: 4px 6px 10px #0082e6;
    border: solid 1px blue;
    font-family: Arial, Helvetica, sans-serif;
    
    height: auto;
    position: absolute;
    top: 50px; 
    left: 1650px;
   transition: ease-in-out all 300ms;
}
button:hover{
    color: white;
    background-color: #0082e6;
    transform: translate(0px, -10px);
    
}
.text{
    width: 400px;
    height: auto;
    position: absolute;
    top:330px;
    left:820px
}
.alle{
    width: 450px;
    height: auto;
    position: absolute;
    top: 600px; 
    left: 450px;
    display: flex;
    
}
.drei{
    width: 450px;
    height: auto;
    position: absolute;
    top: 600px; 
    left: 1050px;
    display: flex;
    
}

